
{% extends 'base.html' %}

{% block title %}
    <title>Crear Estudiante</title>
{% endblock title %}

{% block content %}
    <h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Agregar nuevo estudiante</h1>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-success">
    </form>
    <div class="text-center">
        <a href="{% url 'form-list' %}"><button type="button" class="btn btn-primary">Lista de Estudiantes</button></a>
    </div>
{% endblock content %}